* {
    border: none;
    font-family: "JetBrains Mono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#workspaces {
    border-right: 2px solid rgba(18, 90, 145, 0.5);
    padding-right: 0.5em;
}
#workspaces button {
    padding: 0 6px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: rgb(100, 100, 253);
    border-top: 1px solid rgb(100, 100, 253);
    border-bottom: 1px solid rgb(100, 100, 253);
    background-color: rgba(100, 100, 253, 0.199);
    border-radius: 0px;
    min-width: 1.25em;
    transition: all 0.1s ease-in-out;
}

#workspaces button:not(.empty) {
    color: rgb(100, 100, 253);
    border-radius: 0px;
}

#pulseaudio {
    margin-right: 0.8em;
    transition: all 0.3s ease;
    color: rgb(212, 103, 103);
    border-left: 2px solid rgba(18, 90, 145, 0.5);
    padding-left: 0.5em;
}

#network {
    color: rgb(238, 92, 24);
    border-left: 2px solid rgba(18, 90, 145, 0.5);
    padding-left: 0.5em;
}

#tray {
    margin-right: 0.8em;
    color: rgb(238, 92, 24);
}

#battery {
    margin-right: 1.25em;
    color: rgb(30, 215, 96);
    border-left: 2px solid rgba(18, 90, 145, 0.5);
    padding-left: 0.5em;
}
#battery.warning {
    margin-right: 1.25em;
    color: rgb(215, 187, 30);
}
#battery.warning {
    margin-right: 1.25em;
    color: rgb(215, 30, 30);
}

#custom-archicon {
    color: rgb(13, 126, 255);
}

#custom-spotify {
    color: rgb(30, 215, 96);
    margin-left: 1em;
}

#bluetooth {
    margin-right: 0.6em;
    color: rgb(17, 17, 243);
    border-left: 2px solid rgba(18, 90, 145, 0.5);
    padding-left: 0.5em;
}

#clock {
}
